/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html
///
/* COLORS */
$colorPrimary: #3179cc;
$colorSecondary: #ff4500;
$colorWhite: #ffffff;
$colorWhiteDarker10: #f5f5f5;
$colorWhiteDarker20: #e1e1e1;
$colorWhiteDarker30: #e3e3e3;
$colorWhiteDarker40: #d3d3d3;
$colorWhiteDarker50: #cecece;
$colorWhiteDarker60: #a8a8a8;
$colorWhiteDarker70: #9c9c9c;
$colorBlack: #000000;
$colorBody: #dbe0e5;
$colorBackground: #f7f7f7;

/* FONT SIZE */
$fontSizeLogo: 18px;
$fontSizeLarge: 24px;
$fontSizeBig: 16px;
$fontSizeRegular: 14px;
$fontSizeSmall: 14px;
$fontSizeTiny: 12px;

/* FONT WEIGHT */
$fontWeightMedium: 500;
$fontWeightRegular: 400;

/*ROUNDING */
$roundingSmall: 8px;
$roundingRegular: 10px;
$roundingLarge: 50px;

/* STROKES */
$strokeSmall: 1px;
$strokeBig: 4px;

:root {
    /* FONT SIZE */
    --font-size-logo: 18px;
    --font-size-large: 24px;
    --font-size-big: 16px;
    --font-size-regular: 14px;
    --font-size-small: 14px;
    --font-size-tiny: 12px;
}
